/*--- Ratio ---*/
/*--- Color Palette ---*/
/*--- Skills USA Logo ---*/
/*--- Skills USA Oregon Logo ---*/
/*--- Skills USA White Logo ---*/
/*--- icons ---*/
/*--- Font Faces: Century, Century Gothic ---*/
/*--- Century Bold ---*/
@font-face {
  font-family: 'Century-bold';
  src: url("../../fonts/Century/CenturyGothic-Bold.eot");
  src: url("../../fonts/Century/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Century/CenturyGothic-Bold.woff") format("woff"), url("../../fonts/Century/CenturyGothic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
/*--- Century ---*/
@font-face {
  font-family: 'Century';
  src: url("CenturyGothic.eot");
  src: url("../../fonts/Century/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Century/CenturyGothic.woff") format("woff"), url("../../fonts/Century/CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*--- Circular ---*/
@font-face {
  font-family: 'Circular';
  src: url("../../fonts/Circular/CircularStd-Book.eot");
  src: url("../../fonts/Circular/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../../fonts/Circular/CircularStd-Book.woff") format("woff"), url("../../fonts/Circular/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*--- Circular Bold ---*/
@font-face {
  font-family: 'Circular-bold';
  src: url("../../fonts/Circular/CircularStd-Bold.eot");
  src: url("../../fonts/Circular/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Circular/CircularStd-Bold.woff") format("woff"), url("../../fonts/Circular/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
html, body {
  padding: 0px;
  margin: auto;
  background: #f0f0f0; }

/*>>> Global Header & Navigation <<<*/
nav {
  background: #FFF;
  height: 90px; }

#nav-container {
  padding: 0px 5%;
  width: auto;
  margin: auto; }
  #nav-container:hover {
    cursor: pointer; }

/*-- Logo --*/
#logo {
  float: left;
  padding: 0px;
  margin: auto;
  display: inline-block;
  height: 90px; }

#logo img {
  height: 70px;
  margin-top: 10px;
  float: left; }

#mobile-nav {
  display: none;
  height: 50px;
  width: 50px;
  float: right;
  margin-top: 22.5px; }

nav ul {
  position: relative;
  float: right;
  line-height: 90px; }

nav ul li {
  display: inline-block; }

nav ul li a {
  z-index: 1000;
  text-decoration: none;
  color: #2d2d2d;
  font-size: 13px;
  margin-right: 20px;
  font-family: "Century", sans-serif;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; }
  nav ul li a:hover {
    color: #cd3640; }

/*>>> Intro Splash <<<*/
#intro {
  width: 100%;
  height: 200px;
  background: url(../../assets/imgs/Skills_BG.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 30%; }

#intro-skillsusa {
  width: 90%;
  max-width: 900px;
  margin: auto;
  display: block; }

#scroll-down {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 150px;
  padding: 2% 0px; }

/*>>> Intro About <<<*/
.intro-about {
  height: 221px;
  padding: 5% 0px; }

/* First Image */
.intro-about_img:nth-child(1) {
  background: url(../../assets/imgs/student-manufacturing.jpg);
  background-size: cover; }

/* Second Image */
.intro-about_img:nth-child(2) {
  background: url(../../assets/imgs/student-dental.jpg);
  background-size: cover; }

.intro-about_info {
  background: #FFF; }

.intro-about_info h1 {
  font-family: "Century-bold", sans-serif;
  font-size: 22px;
  color: #2d2d2d;
  padding-bottom: 15px; }

.intro-about_info p {
  font-family: "Circular", sans-serif;
  line-height: 30px;
  font-size: 14px;
  color: #a9acb6;
  font-weight: 100;
  padding-bottom: 35px; }

.intro-about_info a {
  color: #a9acb6;
  font-family: "Circular-bold", sans-serif;
  font-size: 14px;
  padding: 10px 30px;
  border: 2px solid #a9acb6;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out; }
  .intro-about_info a:hover {
    border: 2px solid #00538d;
    color: #FFF;
    background: #00538d; }

.intro-about_left {
  float: left;
  width: 40%;
  min-height: 221px;
  display: block;
  padding: 5%;
  margin-top: -5%; }

.intro-about_right {
  float: right;
  width: 40%;
  min-height: 221px;
  display: block;
  padding: 5%;
  margin-top: -5%; }

/*# sourceMappingURL=main.css.map */
