/*--- Ratio ---*/
/*--- Color Palette ---*/
/*--- Skills USA Logo ---*/
/*--- Flag ---*/
/*--- Skills USA Oregon Logo ---*/
/*--- Skills USA White Logo ---*/
/*--- icons ---*/
/*--- Font Faces: Century, Century Gothic ---*/
/*--- Century Bold ---*/
@font-face {
  font-family: 'Century-bold';
  src: url("../../fonts/Century/CenturyGothic-Bold.eot");
  src: url("../../fonts/Century/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Century/CenturyGothic-Bold.woff") format("woff"), url("../../fonts/Century/CenturyGothic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
/*--- Century ---*/
@font-face {
  font-family: 'Century';
  src: url("CenturyGothic.eot");
  src: url("../../fonts/Century/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Century/CenturyGothic.woff") format("woff"), url("../../fonts/Century/CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*--- Circular ---*/
@font-face {
  font-family: 'Circular';
  src: url("../../fonts/Circular/CircularStd-Book.eot");
  src: url("../../fonts/Circular/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../../fonts/Circular/CircularStd-Book.woff") format("woff"), url("../../fonts/Circular/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*--- Circular Bold ---*/
@font-face {
  font-family: 'Circular-bold';
  src: url("../../fonts/Circular/CircularStd-Bold.eot");
  src: url("../../fonts/Circular/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Circular/CircularStd-Bold.woff") format("woff"), url("../../fonts/Circular/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
html, body {
  padding: 0px;
  margin: auto;
  background: #f0f0f0; }

#header {
  min-height: 90px;
  padding: 3% 0px;
  background: url(../../assets/imgs/header-bg.jpg) #00538d no-repeat;
  background-size: cover; }
  #header h1 {
    text-align: left;
    color: #FFF;
    font-family: "Century-bold", sans-serif;
    font-size: 36px;
    line-height: 90px;
    padding-left: 5%; }

.header {
  max-width: 900px;
  margin: auto; }

/*>>> Global Header & Navigation <<<*/
nav {
  background: #FFF;
  height: 90px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }

#nav-placeholder {
  height: 90px; }

#nav-container {
  padding: 0px 5%;
  width: auto;
  margin: auto; }
  #nav-container:hover {
    cursor: pointer; }

/*-- Logo --*/
#logo {
  float: left;
  padding: 0px;
  margin: auto;
  display: inline-block;
  height: 90px; }

#logo img {
  height: 70px;
  margin-top: 10px;
  float: left; }

#mobile-nav {
  display: none;
  height: 35px;
  width: 35px;
  float: right;
  margin-top: 30px; }

nav ul {
  position: relative;
  float: right;
  line-height: 90px;
  z-index: 1000; }

nav ul li {
  display: inline-block; }

nav ul li a {
  z-index: 1000;
  text-decoration: none;
  color: #2d2d2d;
  font-size: 13px;
  margin-right: 30px;
  font-family: "Century", sans-serif;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; }
  nav ul li a:hover {
    color: #cd3640; }

/*>>> Intro Splash <<<*/
#intro {
  width: 100%;
  height: 200px;
  background: url(../../assets/imgs/Skills_BG.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 30%; }

#intro-skillsusa {
  width: 90%;
  max-width: 900px;
  margin: auto;
  display: block; }

#scroll-down {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 150px;
  padding: 2% 0px; }

/*>>> Intro About <<<*/
.intro-about {
  height: 221px;
  padding: 5% 0px; }

/* First Image */
.intro-about_img:nth-child(1) {
  background: url(../../assets/imgs/student-manufacturing.jpg);
  background-size: cover; }

/* Second Image */
.intro-about_img:nth-child(2) {
  background: url(../../assets/imgs/student-dental.jpg);
  background-size: cover; }

.intro-about_info {
  background: #FFF; }

.intro-about_info h1 {
  font-family: "Century-bold", sans-serif;
  font-size: 22px;
  color: #2d2d2d;
  padding-bottom: 15px; }

.intro-about_info p {
  font-family: "Circular", sans-serif;
  line-height: 30px;
  font-size: 14px;
  color: #a9acb6;
  font-weight: 100;
  padding-bottom: 35px; }

.intro-about_info a {
  color: #a9acb6;
  font-family: "Circular-bold", sans-serif;
  font-size: 14px;
  padding: 10px 30px;
  border: 2px solid #a9acb6;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out; }
  .intro-about_info a:hover {
    border: 2px solid #00538d;
    color: #FFF;
    background: #00538d; }

.intro-about_left {
  float: left;
  width: 40%;
  min-height: 221px;
  display: block;
  padding: 5%;
  margin-top: -5%; }

.intro-about_right {
  float: right;
  width: 40%;
  min-height: 221px;
  display: block;
  padding: 5%;
  margin-top: -5%; }

/*>>> #Skills USA <<<*/
#skillsusa-sm {
  background: #cd3640;
  height: 100px;
  width: 100%;
  padding: 3% 0px; }

#skillsusa-sm p {
  color: #FFF;
  font-family: "Century-bold", sans-serif;
  font-size: 45px;
  text-align: center;
  line-height: 100px; }

/*>>> Competitions <<<*/
#intro-competitions {
  background: #FFF;
  height: auto;
  padding: 5% 0px; }

#intro-competitions_wrapper {
  max-width: 900px;
  height: auto;
  margin: auto; }

#intro-competitions_wrapper h1 {
  text-align: center;
  font-family: "Century-bold", sans-serif;
  color: #2d2d2d;
  font-size: 30px;
  padding-bottom: 3%; }

#intro-competitions_wrapper p {
  font-family: "circular", sans-serif;
  text-align: center;
  color: #a9acb6;
  font-size: 14px;
  line-height: 20px; }

#competitions-section {
  padding-top: 30px; }

.compete-box {
  height: 150px;
  width: 285px;
  margin-right: 18px;
  display: inline-block;
  margin-bottom: 15px; }

.compete-box:nth-child(3n) {
  margin-right: 0px !important; }

.compete-box p {
  font-family: "Century-bold", sans-serif !important;
  text-align: center;
  font-size: 16px !important;
  padding: 0px;
  margin: auto;
  color: #FFF !important;
  line-height: 150px !important;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8); }

.compete-box:last-child {
  margin-right: 0px !important; }

/** Compete boxes images */
#compete-auto {
  background: url(../../assets/intro/auto.jpg);
  background-size: cover; }

#compete-electric {
  background: url(../../assets/intro/electric.jpg);
  background-size: cover; }

#compete-health {
  background: url(../../assets/intro/dental.jpg);
  background-size: cover; }

#compete-manu {
  background: url(../../assets/intro/manufacturing.jpg);
  background-size: cover; }

#compete-computers {
  background: url(../../assets/intro/computer-science.jpg);
  background-size: cover; }

#compete-photo {
  background: url(../../assets/intro/photo.jpg);
  background-size: cover; }

#compete-web {
  background: url(../../assets/intro/web-design.jpg);
  background-size: cover; }

#compete-video {
  background: url(../../assets/intro/video.jpg);
  background-size: cover; }

#compete-radio {
  background: url(../../assets/intro/radio.jpg);
  background-size: cover; }

#compete-arch {
  background: url(../../assets/intro/architecture.jpg);
  background-size: cover; }

#compete-cons {
  background: url(../../assets/intro/construction.jpg);
  background-size: cover; }

#compete-more {
  background: url(../../assets/intro/view-more.jpg);
  background-size: cover; }

#compete-1 {
  background: url(../../assets/gallery/1.jpg);
  background-size: cover; }

#compete-2 {
  background: url(../../assets/gallery/2.jpg);
  background-size: cover; }

#compete-3 {
  background: url(../../assets/gallery/3.jpg);
  background-size: cover; }

#compete-4 {
  background: url(../../assets/gallery/4.jpg);
  background-size: cover; }

#compete-5 {
  background: url(../../assets/gallery/5.jpg);
  background-size: cover; }

#compete-6 {
  background: url(../../assets/gallery/6.jpg);
  background-size: cover; }

#compete-7 {
  background: url(../../assets/gallery/7.jpg);
  background-size: cover; }

#compete-8 {
  background: url(../../assets/gallery/8.jpg);
  background-size: cover; }

/*>>> Global Contact US <<<*/
#contact-us {
  background: #f0f0f0;
  min-height: 442px;
  padding: 5% 0px; }

#contact-us_wrapper {
  max-width: 900px;
  height: auto;
  margin: auto; }

#contact-us_wrapper h1 {
  font-family: "Century-bold", sans-serif;
  color: #2d2d2d;
  text-align: center;
  font-size: 30px;
  padding-bottom: 4%; }

#form {
  float: left;
  display: block;
  width: 50%;
  height: auto; }

/*>>> 50 years of excellence <<<*/
#years-of-excellence {
  background: #cd3640;
  height: 40px;
  padding: 3% 0px; }
  #years-of-excellence h1 {
    text-align: center;
    font-family: "Century", sans-serif;
    font-size: 30px;
    color: #FFF; }

form input:focus, form textarea {
  outline: none; }

form input[type="submit"] {
  font-family: "Century", sans-serif;
  font-size: 14px;
  color: #a9acb6;
  width: 95%;
  margin-top: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  form input[type="submit"]:hover {
    background: #00538d;
    color: #fff;
    cursor: pointer; }

form textarea {
  width: 90%;
  border: 1px solid #e6e6e6;
  background: #FFF;
  font-family: "Century", sans-serif;
  font-size: 14px;
  padding: 4% 0% 4% 5%; }

form input {
  font-family: "Century", sans-serif;
  font-size: 14px;
  width: 90%;
  border: none;
  border: 1px solid #e6e6e6;
  background: #FFF;
  padding: 4% 0% 4% 5%;
  margin-bottom: 10px; }

#google-maps {
  float: right;
  display: block;
  width: 50%;
  min-height: 390px;
  height: auto;
  background: #a9acb6; }

/*>>> About <<*/
#about-skillsusa {
  min-height: 280px;
  max-width: 900px;
  padding: 5% 0px;
  margin: auto; }
  #about-skillsusa img {
    float: left;
    width: 60%; }
  #about-skillsusa h1 {
    font-family: "Century-bold", sans-serif;
    font-size: 30px;
    color: #2d2d2d;
    margin-bottom: 30px; }
  #about-skillsusa p {
    color: #a9acb6;
    font-family: "circular", sans-serif;
    font-size: 13px;
    line-height: 25px; }

#about-descriptions {
  padding-top: 35px; }

#calendar {
  padding: 5% 0px; }
  #calendar iframe {
    margin: auto;
    display: block; }

/*>>> Global Footer <<<*/
footer {
  background: #00538d;
  height: 150px;
  padding: 6% 0px;
  position: relative; }

footer #copyright {
  color: #FFF;
  font-family: "century-bold", sans-serif;
  font-size: 16px;
  line-height: 150px;
  margin-left: 5%;
  float: left; }

footer #champs-btm {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #FFF;
  background: transparent;
  border: 2px solid #FFF;
  padding: 20px 0px;
  width: 400px;
  font-family: "circular-bold", sans-serif;
  text-decoration: none;
  position: absolute;
  top: 45px;
  right: 0;
  left: 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; }
  footer #champs-btm:hover {
    color: #00538d;
    background: #FFF; }

footer #social-media {
  float: right;
  margin-right: 5%; }

footer #social-media a {
  display: inline-block;
  height: 35px;
  width: 35px;
  line-height: 172px;
  color: #00355a;
  font-family: "Century-bold", sans-serif;
  text-decoration: none;
  margin-right: 30px; }
  footer #social-media a:hover {
    color: #FFF; }

footer #social-media a:last-child {
  margin-right: 0px !important; }

/*# sourceMappingURL=main.css.map */
