/*--- Ratio ---*/
/*--- Color Palette ---*/
/*--- Skills USA Logo ---*/
/*--- Skills USA Oregon Logo ---*/
/*--- Skills USA White Logo ---*/
/*--- icons ---*/
/*--- Font Faces: Century, Century Gothic ---*/
/*--- Century Bold ---*/
@font-face {
  font-family: 'Century-bold';
  src: url("../../fonts/Century/CenturyGothic-Bold.eot");
  src: url("../../fonts/Century/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Century/CenturyGothic-Bold.woff") format("woff"), url("../../fonts/Century/CenturyGothic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
/*--- Century ---*/
@font-face {
  font-family: 'Century';
  src: url("CenturyGothic.eot");
  src: url("../../fonts/Century/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Century/CenturyGothic.woff") format("woff"), url("../../fonts/Century/CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*--- Circular ---*/
@font-face {
  font-family: 'Circular';
  src: url("../../fonts/Circular/CircularStd-Book.eot");
  src: url("../../fonts/Circular/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../../fonts/Circular/CircularStd-Book.woff") format("woff"), url("../../fonts/Circular/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*--- Circular Bold ---*/
@font-face {
  font-family: 'Circular-bold';
  src: url("../../fonts/Circular/CircularStd-Bold.eot");
  src: url("../../fonts/Circular/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Circular/CircularStd-Bold.woff") format("woff"), url("../../fonts/Circular/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@media all and (max-width: 1277px) {
  .intro-about_info p {
    font-size: 12px;
    line-height: 24px; }

  .intro-about_left, .intro-about_right {
    padding: 4% !important;
    width: 42%; }

  .intro-about {
    height: 195px; } }
@media all and (max-width: 988px) {
  footer #copyright {
    clear: both;
    float: none;
    text-align: left; }

  footer #champs-btm {
    display: none; } }
@media all and (max-width: 827px) {
  .intro-about_left, .intro-about_right {
    display: block;
    padding: 6% 5% !important;
    clear: both;
    width: auto;
    min-height: 95px;
    float: none; }

  .intro-about_img {
    margin-top: 0px; }

  .intro-about {
    height: 387px !important;
    padding: 0px 0px; } }
@media all and (max-width: 805px) {
  #mobile-nav {
    display: block !important; }

  nav ul {
    display: none;
    float: none;
    clear: both; }

  nav ul li {
    display: block; }

  nav ul li a {
    display: block;
    width: 100%;
    background: #2d2d2d;
    text-align: center;
    padding: 1px 0px;
    color: #a9acb6; }
    nav ul li a:hover {
      color: #FFF;
      background: #cd3640; }

  #intro {
    padding-bottom: 20%; }

  #intro-skillsusa {
    padding-top: 2%; }

  #scroll-down {
    display: none; } }
@media all and (min-width: 805px) {
  nav ul {
    display: block !important; } }
@media all and (max-width: 400px) {
  #intro {
    padding-bottom: 5%; }

  .intro-about_left, .intro-about_right {
    padding: 5% 5% !important; }

  .intro-about_info h1 {
    text-align: center; }

  .intro-about_info a {
    display: block;
    margin: auto;
    text-align: center;
    padding: 15px 0px; } }

/*# sourceMappingURL=responsive.css.map */
