/*--- Ratio ---*/
$desktop-width: 1000px;
$desktop-nav:   90px;
$intro-about:   221px;
$intro-height:  5%;
$intro-width:   40%;
$width:         900px;

/*--- Color Palette ---*/
$red:   #cd3640;
$blue:  #00538d;
$gray:  #a9acb6;
$black: #2d2d2d;
$white: #f0f0f0;

/*--- Skills USA Logo ---*/
$skillsusa_svg: url(../../assets/icons/skillsusa.svg);
$skillsusa_png: url(../../assets/icons/skillsusa.png);

/*--- Skills USA Oregon Logo ---*/
$skillsusa-oregon_svg: url(../../assets/icons/skillsusa-oregon_svg.svg);
$skillsusa-oregon_png: url(../../assets/icons/skillsusa-oregon.png);

/*--- Skills USA White Logo ---*/
$skillsusa-white_svg: url(../../assets/icons/skillsusa-white.svg);

/*--- icons ---*/
$menu-icon: url(../../assets/icons/menu.svg);

/*--- Font Faces: Century, Century Gothic ---*/

/*--- Century Bold ---*/
@font-face {
	font-family: 'Century-bold';
	src: url('../../fonts/Century/CenturyGothic-Bold.eot');
	src: url('../../fonts/Century/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Century/CenturyGothic-Bold.woff') format('woff'),
		url('../../fonts/Century/CenturyGothic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/*--- Century ---*/
@font-face {
	font-family: 'Century';
	src: url('CenturyGothic.eot');
	src: url('../../fonts/Century/CenturyGothic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Century/CenturyGothic.woff') format('woff'),
		url('../../fonts/Century/CenturyGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*--- Circular ---*/
@font-face {
	font-family: 'Circular';
	src: url('../../fonts/Circular/CircularStd-Book.eot');
	src: url('../../fonts/Circular/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Circular/CircularStd-Book.woff') format('woff'),
		url('../../fonts/Circular/CircularStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*--- Circular Bold ---*/
@font-face {
	font-family: 'Circular-bold';
	src: url('../../fonts/Circular/CircularStd-Bold.eot');
	src: url('../../fonts/Circular/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Circular/CircularStd-Bold.woff') format('woff'),
		url('../../fonts/Circular/CircularStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
