@import 'functions';

html, body {
    padding:0px;
    margin:auto;
    background:$white;
}

/*>>> Global Header & Navigation <<<*/

nav {
    background:#FFF;
    height:$desktop-nav;
}

#nav-container {
//    max-width:$desktop-width;
    padding:0px 5%;
    width:auto;
    margin:auto;

    &:hover {
        cursor:pointer;
    }
}

/*-- Logo --*/

#logo {
    float:left;
    padding:0px;
    margin:auto;
    display:inline-block;
    height:$desktop-nav;
}

#logo img {
    height:70px;
    margin-top:10px;
    float:left;
}

#mobile-nav {
    display:none;
    height:35px;
    width:35px;
    float:right;
    margin-top:$desktop-nav/3;
}

nav ul {
    position:relative;
    float:right;
    line-height:$desktop-nav;
}

nav ul li {
    display:inline-block;
}

nav ul li a {
    z-index:1000;
    text-decoration: none;
    color:$black;
    font-size:13px;
    margin-right:20px;
    font-family:"Century", sans-serif;
    -webkit-transition:all 0.1s ease-in-out;
    -moz-transition:all 0.1s ease-in-out;
    -o-transition:all 0.1s ease-in-out;

    &:hover {
        color:$red;
    }
}

/*>>> Intro Splash <<<*/
#intro {
    width:100%;
    height:200px;
    background:url(../../assets/imgs/Skills_BG.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    // background-attachment: fixed;
    padding-bottom:30%;
}

#intro-skillsusa {
    width:90%;
    max-width:900px;
    margin:auto;
    display:block;
}

#scroll-down {
    margin:auto;
    display:block;
    width:90%;
    max-width:150px;
    padding:2% 0px;
}

/*>>> Intro About <<<*/

.intro-about {
    height:$intro-about;
    padding:$intro-height 0px;
}

/* First Image */
.intro-about_img:nth-child(1) {
    background:url(../../assets/imgs/student-manufacturing.jpg);
    background-size: cover;
}

/* Second Image */
.intro-about_img:nth-child(2) {
    background:url(../../assets/imgs/student-dental.jpg);
    background-size:cover;
}

.intro-about_info {
    background:#FFF;
}

.intro-about_info h1 {
    font-family:"Century-bold", sans-serif;
    font-size:22px;
    color:$black;
    padding-bottom:15px;
}

.intro-about_info p {
    font-family: "Circular", sans-serif;
    line-height:30px;
    font-size:14px;
    color:$gray;
    font-weight:100;
    padding-bottom:35px;
}

.intro-about_info a {
    color:$gray;
    font-family: "Circular-bold", sans-serif;
    font-size:14px;
    padding:10px 30px;
    border:2px solid $gray;
    text-decoration: none;
    -webkit-transition:all 0.2s ease-in-out;

    &:hover {
        border:2px solid $blue;
        color:#FFF;
        background:$blue;
    }
}

.intro-about_left {
    float:left;
    width:$intro-width;
    min-height:$intro-about;
    display: block;
    padding:$intro-height;
    margin-top:-$intro-height;
}

.intro-about_right {
    float:right;
    width:$intro-width;
    min-height:$intro-about;
    display: block;
    padding:$intro-height;
    margin-top:-$intro-height;
}

/*>>> #Skills USA <<<*/

#skillsusa-sm {
    background:$red;
    height:100px;
    width:100%;
    padding:3% 0px;
}

#skillsusa-sm p {
    color:#FFF;
    font-family:"Century-bold", sans-serif;
    font-size:45px;
    text-align:center;
    line-height:100px;
}

/*>>> Global Footer <<<*/

footer {
    background:$blue;
    height:150px;
    padding:6% 0px;
    position: relative;
}

footer #copyright {
    color:darken($blue, 10%);
    font-family: "century-bold", sans-serif;
    font-size:16px;
    line-height: 150px;
    margin-left:5%;
    float:left;
}

footer #champs-btm {
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    color:#FFF;
    background:transparent;
    border:2px solid #FFF;
    padding:20px 0px;
    width:400px;
    font-family: "circular-bold", sans-serif;
    text-decoration: none;
    position:absolute;
    top:45px;
    right:0;
    left:0;
    -webkit-transition:all 0.1s ease-in-out;
    -moz-transition:all 0.1s ease-in-out;
    -o-transition:all 0.1s ease-in-out;

    &:hover {
        color:$blue;
        background:#FFF;
    }
}

footer #social-media {
    float:right;
    line-height:150px;
    margin-right:5%;
}

footer #social-media a {
    color:darken($blue, 10%);
    font-family:"Century-bold", sans-serif;
    text-decoration: none;
    margin-right:30px;

    &:hover {
        color:#FFF;
    }
}

footer #social-media a:last-child {
    margin-right:0px !important;
}

/*>>> Competitions <<<*/

#intro-competitions {
    background:#FFF;
    height:auto;
    padding:5% 0px;
}

#intro-competitions_wrapper {
    max-width:900px;
    padding:0px 5%;
    height:auto;
    margin: auto;
}

#intro-competitions_wrapper h1 {
    text-align:center;
    font-family:"Century-bold", sans-serif;
    color:$black;
    font-size:30px;
    padding-bottom:3%;
}

#intro-competitions_wrapper p {
    font-family: "circular", sans-serif;
    text-align: center;
    color:$gray;
    font-size:14px;
    line-height:20px;
}

#competitions-section {
    padding-top:30px;
}

.compete-box {
    height:150px;
//    padding:5% 0px;
    width:$width/3-15px;
    margin-right:12px;
    background:$black;
    display:inline-block;
    margin-bottom:12px;
}

.compete-box p {
    font-family: "Century-bold", sans-serif !important;
    text-align:center;
    font-size:16px !important;
    padding:0px;
    margin:auto;
    color:#FFF !important;
    line-height:150px !important;
    text-shadow:0px 0px 3px rgba(0, 0, 0, 0.8);
}

.compete-box:last-child {
    margin-right:0px !important;
}

/** Compete boxes images */
#compete-auto {
    background:url(../../assets/imgs/auto.jpg);
    background-size:cover;
}

#compete-electric {
    background:url(../../assets/imgs/electric.jpg);
    background-size:cover;
}

#compete-health {
    background:url(../../assets/imgs/dental.jpg);
    background-size:cover;
}

#compete-manu {
    background:url(../../assets/imgs/manufacturing.jpg);
    background-size:cover;
}

#compete-computers {
    background:url(../../assets/imgs/computers.jpg);
    background-size:cover;
}

#compete-photo {
    background:url(../../assets/imgs/photo.png);
    background-size:cover;
}

#compete-web {
    background:url(../../assets/imgs/webdesign.jpg);
    background-size:cover;
}

#compete-video {
    background:url(../../assets/imgs/video.jpg);
    background-size:cover;
}

#compete-radio {
    background:url(../../assets/imgs/radio.png);
    background-size:cover;
}

#compete-arch {
    background:url(../../assets/imgs/arch.png);
    background-size:cover;
}

#compete-cons {
    background:url(../../assets/imgs/const.png);
    background-size:cover;
}

#compete-more {
    background:url(../../assets/imgs/view.jpg);
    background-size:cover;
}
