@import 'functions';

html, body {
    padding:0px;
    margin:auto;
    background:$white;
}

/*>>> Global Header & Navigation <<<*/

nav {
    background:#FFF;
    height:$desktop-nav;
}

#nav-container {
//    max-width:$desktop-width;
    padding:0px 5%;
    width:auto;
    margin:auto;

    &:hover {
        cursor:pointer;
    }
}

/*-- Logo --*/

#logo {
    float:left;
    padding:0px;
    margin:auto;
    display:inline-block;
    height:$desktop-nav;
}

#logo img {
    height:70px;
    margin-top:10px;
    float:left;
}

#mobile-nav {
    display:none;
    height:50px;
    width:50px;
    float:right;
    margin-top:$desktop-nav/4;
}

nav ul {
    position:relative;
    float:right;
    line-height:$desktop-nav;
}

nav ul li {
    display:inline-block;
}

nav ul li a {
    z-index:1000;
    text-decoration: none;
    color:$black;
    font-size:13px;
    margin-right:20px;
    font-family:"Century", sans-serif;
    -webkit-transition:all 0.1s ease-in-out;
    -moz-transition:all 0.1s ease-in-out;
    -o-transition:all 0.1s ease-in-out;

    &:hover {
        color:$red;
    }
}

/*>>> Intro Splash <<<*/
#intro {
    width:100%;
    height:200px;
    background:url(../../assets/imgs/Skills_BG.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    // background-attachment: fixed;
    padding-bottom:30%;
}

#intro-skillsusa {
    width:90%;
    max-width:900px;
    margin:auto;
    display:block;
}

#scroll-down {
    margin:auto;
    display:block;
    width:90%;
    max-width:150px;
    padding:2% 0px;
}

/*>>> Intro About <<<*/

.intro-about {
    height:$intro-about;
    padding:$intro-height 0px;
}

/* First Image */
.intro-about_img:nth-child(1) {
    background:url(../../assets/imgs/student-manufacturing.jpg);
    background-size: cover;
}

/* Second Image */
.intro-about_img:nth-child(2) {
    background:url(../../assets/imgs/student-dental.jpg);
    background-size:cover;
}

.intro-about_info {
    background:#FFF;
}

.intro-about_info h1 {
    font-family:"Century-bold", sans-serif;
    font-size:22px;
    color:$black;
    padding-bottom:15px;
}

.intro-about_info p {
    font-family: "Circular", sans-serif;
    line-height:30px;
    font-size:14px;
    color:$gray;
    font-weight:100;
    padding-bottom:35px;
}

.intro-about_info a {
    color:$gray;
    font-family: "Circular-bold", sans-serif;
    font-size:14px;
    padding:10px 30px;
    border:2px solid $gray;
    text-decoration: none;
    -webkit-transition:all 0.2s ease-in-out;
    
    &:hover {
        border:2px solid $blue;
        color:#FFF;
        background:$blue;
    }
}

.intro-about_left {
    float:left;
    width:$intro-width;
    min-height:$intro-about;
    display: block;
    padding:$intro-height;
    margin-top:-$intro-height;
}

.intro-about_right {
    float:right;
    width:$intro-width;
    min-height:$intro-about;
    display: block;
    padding:$intro-height;
    margin-top:-$intro-height;
}
